body {
    background-color: red;
}


.Fire1p {
    margin-left: 700px;
}

.Fire2p {
    margin-left: 700px;
}

.Fire3p {
    margin-left: 700px;
}

.Aone {
    text-decoration: none;
}

.Button1 {
    background-color: pink;
}