body {
    background-color: green;
}


.Ivy1 {
   margin-left: 700px;
   border: 1px dotted black;
   align-items: end;

}

.Figivy {
margin-bottom: 20px;
}


.Bay1 {
    margin-left: 700px;
}

.Sere1 {
    margin-left: 700px;
}


.Grass0 {
    background-color: greenyellow;
}