body {
    background-color: rgb(232, 232, 120);
}

h1{
   text-align: center;
}

h2{
    text-align: center; 
}

.Alltypes {
margin-left: 700px;
}

.Firet {

}

.Watert {
}


.Fireb {
    display: block;
    text-decoration: none;
}
.Waterb {
    display: block;

}
.Grassb {
    display: block;
    text-decoration: none;
}

.Fireb:hover {
    background-color: gray;
    cursor:pointer;
    }

.Waterb:hover {
    background-color: gray;
    cursor:pointer;
    }
.Grassb:hover {
    background-color: gray;
    cursor:pointer;
}

a {
text-decoration: none;
}


.Alltypes1 {
    display: flex;
    justify-content: space-between;
}
 

.Alltypes1 img {
    height: 250px;
    width: 300px;
}

